{% extends 'base.html' %}
{% block title %} Мои сообщения {% endblock %}
{% block content %}
<h1>Список сообщений</h1>
{% if not user.is_manager %}
<p><a href="{% url 'recipients:message_create' %}">Создать сообщение</a></p>
{% endif %}
{% if object_list %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Основной текст</th>
            </tr>
        </thead>
        <tbody>
            {% for message in object_list %}
                <tr>
                    <td><a href="{% url 'recipients:message_detail' message.id %}"> {{ message.id }}</a></td>
                    <td>{{ message.topic }}</td>
                    <td>{{ message.body }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Список сообщений пуст.</p>
{% endif %}
{% endblock %}
